body
{
    display: grid;
    justify-content: center;
    background-color: rgb(123, 123, 123);
}

td input
{
    text-align: center;
    height: 10vh;
    width: 10vw;
    margin: 5px; 
    border: none;
    box-shadow: 5px 5px 15px rgba(194, 194, 194, 0.616);
    height: 10vh;
    border-radius: 11px;
    font-size: 1.2rem; 
    background-color: rgb(200, 200, 200);
    border-radius: 11px;
}