body
{
    display: grid;
    justify-content: center;
}
td{
    border: 1px solid black;
    border-radius: 11px;
    height: 10vh;
    margin: 12px; 
    box-shadow: 5px 5px 15px gray;
}
td input
{
    height: 10vh;
   font-size: 1.2rem; 
    border: none;
    background-color: unset;
    border-radius: 11px;
}